.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url(../imagens/background.jpg);
}

.card-login{
    width: 400px;
    border-radius: 3%;
}

.form-control{
    margin-bottom: 10px;
}

.card-title{
    margin-bottom: 10px;
}

.alinha-image-login{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.image-login{
    width: 180px;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}